.app {
  height: 100%;
}

.top-bar {
  height: 100px;
  width: 100%;
  background: rgb(147, 125, 182);
  margin: 0;
}

.list-space {
  display: flex;
  padding-top: 20px;
  
  margin: 0 auto;
  width: fit-content;
  height: 100%;
}

.list {
  border: 1px solid black;
  padding: 5px;
  margin: 0 10px;
  width: 250px;
  min-height: 70vh;

  display: flex;
  flex-direction: column;
}

.list-title {
  border-bottom: 1px solid black;
  padding: 3px;
  overflow-wrap: break-word;
}

.list-bottom-buffer {
  flex: 1;
  align-self: stretch;
}


.card-space {
  flex: 1;
  align-self: stretch;
  margin-top: 15px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  border: 1px solid black;
  padding: 10px;
  min-height: 70px;
  margin-top: 10px;
  position: relative;
  background: blanchedalmond;
}

.card .edit {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.card-editor {
  border: 2px solid black;  
  background: white;
  z-index: 2;
  
  width: 400px;
  height: 400px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;

  padding: 20px;
}

.card-editor * {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  
}


.card-editor .title-input {
  border: 1px solid black;
  padding: 3px;
  font-size: 2em;
  height: 2em;
}

.card-editor .content-input {
  border: 1px solid black;  
  padding: 3px;
  margin-top: 30px;

  height: 300px;
}