.App {
  /* text-align: center; */
}

.top-bar {
  height: 100px;
  width: 100%;
  background: rgb(147, 125, 182);
}

.list-space {
  display: flex;
  padding-top: 20px;
  
  width: fit-content;
  margin: 0 auto;
}

.list {
  border: 1px solid black;
  padding: 5px;
  margin: 0 10px;
  width: 250px;
}

.list-title {
  border-bottom: 1px solid black;
  padding: 3px;
}


.card-space {
  margin-top: 15px;
}

.card {
  border: 1px solid black;
  padding: 10px;
  min-height: 70px;
  margin-top: 10px;
}